        <!--Search Bar-->
        <div class="columns border-primary my-3">
            <div class="column is-full">
                <div class="columns py-3 has-background-link-dark mediaSpace">
                    <!-- Search text -->
                    <div class="column is-one-fifth is-full-mobile gap-primary">
                        <p class="is-size-4 has-text-weight-bold has-text-light">Search:
                        </p>
                    </div>
                   <!-- Input for game name -->
                    <input type="text" value="" name="searchInput" id="search-Input" autofocus="true" class="column is-one-quarter is-full-mobile gap-primary searchSpace">
                    </input>
                    <!-- Drop down menu for platform selection -->
                    <select id="platform-dropdown" name="platformtype" class="column is-one-quarter is-full-mobile gap-primary searchSpace">
                        <option value="" disabled selected>Pick a platform</option>
                        <option value="pc">PC</option>
                        <option value="playstation-4">PS4</option>
                        <option value="xone">Xbox</option>
                        <option value="switch">Switch</option>
                    </select>
                    <button type="submit" id="gamesubmit" class="column is-1 gap-primary button is-link is-light is-full-mobile button-height">Submit</button>
                </div>
            </div>
        </div>
        <!-- Game information section -->
        <div class="columns border-primary my-3 has-background-link-dark">
            <div class="column is-full">
                <div class="columns">
                    <!-- Provides information about the game -->
                    <div class="column has-text-black">
                        <p class="border-secondary my-2 has-background-link-light px-1 py-1">Name: <span id="name"></span></p>
                        <p class="border-secondary my-2 has-background-link-light px-1 py-1">Platform: <span id="platform"></span></p>
                        <p class="border-secondary my-2 has-background-link-light px-1 py-1">Genre: <span id="genre"></span></p>
                        <p class="border-secondary my-2 has-background-link-light px-1 py-1">Score: <span id="score"></span></p>
                        <p class="border-secondary my-2 has-background-link-light px-1 py-1">Description: <span id="description"></span></p>
                    </div>
                    <!-- Game image -->
                    <img class="column border-secondary my-3 mr-1 has-background-link-light imageSpace" id="gameimage"></img>
                </div>
            </div>
        </div>
        <!-- Game video section -->
        <div class="columns border-primary my-3 has-background-link-dark">
            <div class="column is-full"> 
                <!-- Video title sction -->
                <div class="columns is-left">
                    <div class="has-text-weight-bold has-text-black has-text-centered column border-secondary mx-2 my-2 is-half has-background-link-light">
                        Video
                    </div>
                </div>
                <!-- Game video -->
                <div class="columns is-centered">
                    <div class="border-secondary column is-four-fifths mx-2 my-2 has-background-link-light"> 
                        <div class="columns is-centered">
                            <div id="youtube" class="column youtube border-tertiary is-centered">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/javascript/homepage.js"></script>